.make-post {
  display: flex;
  justify-content: space-between;
}

#post-list {
  margin-left: 130px;
}

#icon {
  font-family: "billabong", sans-serif;
  margin-left: 10px;
}

.img-icon {
  width: 30px;
  margin-right: 5px;
}

#navbar {
  z-index: 10000 !important;
}

#ava-beks {
  width: 11.5% !important;
  height: 47px;
  border-radius: 30px;
  margin-top: 4px;
  margin-left: 8px;
}

.icon-div {
  display: flex;
  padding-left: 10px;
  padding-bottom: 1px;
  margin-top: 1px;
  border-radius: 15px;
}

#img-beks {
  width: 100%;
}

#name1 {
  margin-top: 15px;
  margin-left: 10px;
}

#admin {
  margin-top: 95px;
  margin-left: 250px;
  position: fixed;
}
