body {
  background-color: rgb(255, 225, 189);
}

.make-post {
  display: flex;
  justify-content: space-between;
}

#post-list {
  margin-left: 130px;
}

.img-icon {
  width: 30px;
  margin-right: 5px;
}

#navbar {
  width: 100%;
  position: fixed;
  z-index: 10000 !important;
  background-color: rgb(248, 245, 245);
}

#ava-beks {
  width: 12% !important;
  height: 47px;
  border-radius: 30px;
  margin-top: 4px;
  margin-left: 8px;
}

.icon-div {
  display: flex;
  padding-left: 10px;
  padding-bottom: 1px;
  margin-top: 1px;
  border-radius: 15px;
}

#img-beks {
  width: 100%;
}

#name1 {
  margin-top: 15px;
  margin-left: 10px;
  font-weight: 500;
  font-size: 14px;
}

#admin {
  margin-top: 95px;
  margin-left: 250px;
  position: fixed;
}

.home-icon {
  width: 30px;
}

.heart-icon {
  width: 30px;
  margin-right: 360px;
}

.add-icon {
  width: 30px;
  margin-right: 23px;
}

#search-btn {
  margin-left: 200px;
}

.nav-item {
  margin-left: 30px;
}
